<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
</head>

<body>
    <h2>Dashboard</h2>

    <form class="dashcontainer">
        <div class="imgcontainer">
            <img src="/images/login.png" alt="ProjectOrganizer" class="avatar">
        </div>

        <div class="container">
            <ul>
                <li><a href="/project">CP317Eugene</a></li>
                <li><a href="#">ST230Proj</a></li>
                <li><a href="#">MyProj</a></li>
            </ul>

        </div>

    </form>
</body>

</html>