<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/../public/stylesheets/project.css" />
</head>

<body>

    <h2>Welcome Zima</h2>

    <label class="switch" style="position:absolute;top:5px;right:10px;">
        <label style="font-weight:bold;width:150px;position:absolute;top:10px;right:55px;">My Tasks Only</label>
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'CP317Eugene', 'CP317EugeneProgress')" id="defaultOpen">CP317Eugene</button>
        <button class="tablinks" onclick="openTab(event, 'ST230Proj', 'ST230ProjProgress')">ST230Proj</button>
        <button class="tablinks" onclick="openTab(event, 'MyProj', 'MyProjProgress')">MyProj</button>
    </div>

    <div id="CP317Eugene" class="tabcontent">
        <h3>In Progress</h3>
        <div class="card">
            <div class="cardcontainer">
                <h4><b>Rename project to Eugene</b></h4>
                <p>Nicholas Koehler</p>
            </div>
        </div>
        <div class="card">
            <div class="cardcontainer">
                <h4><b>Mock</b></h4>
                <p>Zima</p>
            </div>
        </div>
        <div class="card">
            <div class="cardcontainer">
                <h4><b>Create a colour palette with 50 shades of grey</b></h4>
                <p>Front End</p>
            </div>
        </div>
        <h3>Done</h3>
        <div class="donecard">
            <div class="cardcontainer">
                <h4><b>Create project</b></h4>
                <p>Front End</p>
            </div>
        </div>
    </div>


    <div id="CP317EugeneProgress" class="progress">
        <h3 align="right">CP317Eugene     40%</h3>
        <div class="progresscard">
            <div class="progresscardcontainer">
                <h4 align="right"><b>Me     60%</b></h4>

            </div>
        </div>
        <div class="progresscard">

            <div class="progresscardcontainer">
              <h4 align="right"><mark>manager</mark><b>   Firstname Lastname 20%</b></h4>
            </div>
        </div>
        <div class="progresscard">
            <div class="progresscardcontainer">
                <h4 align="right"><b>Realname Fakename 0%</b></h4>
            </div>
        </div>
    </div>

    <div id="ST230ProjProgress" class="progress">
        <h3 align="right">ST230Proj     10%</h3>
        <div class="progresscard">
            <div class="progresscardcontainer">
                <h4 align="right"><mark>manager</mark><b>  Me     </b></h4>

            </div>
        </div>
        <div class="progresscard">

            <div class="progresscardcontainer">
              <h4 align="right"><b>   Firstname Lastname 20%</b></h4>
            </div>
        </div>
        <div class="progresscard">
            <div class="progresscardcontainer">
                <h4 align="right"><b>Realname Fakename 0%</b></h4>
            </div>
        </div>
    </div>

    <div id="ST230Proj" class="tabcontent">
        <h3>ST230Proj</h3>
        <div class="card">
            <div class="cardcontainer">
                <h4><b>Another mock</b></h4>
                <p>Zima</p>
            </div>
        </div>
    </div>

    <div id="MyProj" class="tabcontent">
        <h3>MyProj</h3>
        <p>No tasks!</p>
    </div>

    <div id="MyProjProgress" class="progress">
        <h3 align="right">ST230Proj     0%</h3>
        <div class="progresscard">
            <div class="progresscardcontainer">
                <h4 align="right"><mark>manager</mark><b>  Me     0%</b></h4>

            </div>
        </div>
        <div class="progresscard">

            <div class="progresscardcontainer">
              <h4 align="right"><b>   Firstname Lastname 20%</b></h4>
            </div>
        </div>
    </div>

    <script>
        function openTab(evt, tabName,tabNameprogress ) {
            var i, tabcontent, tablinks, progress;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            progress= document.getElementsByClassName("progress");
            for (i = 0; i < progress.length; i++) {
                  progress[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(tabName).style.display = "block";
            document.getElementById(tabNameprogress).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>

</html>
